<ion-header>
  <ion-toolbar>
    <ion-title>Pengalaman , Kritik, Saran</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container" style="padding: 60px;">
    <ion-label>Pengalaman : <br/> Mengerjakan tugas nya agak lebih santai karena waktu yang diberikan lebih banyak. pernah sambil makan juga :)</ion-label><br/><br/>
    <ion-label>Kritik : <br/>Untuk sementara tidak ada. Sudah baik selama ini</ion-label><br/><br/>
    <ion-label>Saran : <br/>Latihan - latihan non-nilai nya dibanyakin Ce</ion-label><br/><br/>
  </div>
  
</ion-content>
